@model ApplicationCore.Models.BookingResponseModel

@{ ViewData["Title"] = "Booking"; }

<div class="container containerBorder">
    <div class="row">
        <div class="col containerBorder">
            <b>Booking ID :</b>
        </div>
        <div class="col containerBorder">
            <p>@Model.Id</p>
        </div>
    </div>


    <div class="row">
        <div class="col containerBorder">
            <b>Room Number :</b>
        </div>
        <div class="col containerBorder">
            <p>@Model.RoomNO</p>
        </div>
    </div>


    <div class="row">
        <div class="col containerBorder">
            <b>Customer Name :</b>
        </div>
        <div class="col containerBorder">
            <p>@Model.CName</p>
        </div>
    </div>


    <div class="row">
        <div class="col containerBorder">
            <b>Address :</b>
        </div>
        <div class="col containerBorder">
            <p>@Model.Address</p>
        </div>
    </div>


    <div class="row">
        <div class="col containerBorder">
            <b>Phone Number :</b>
        </div>
        <div class="col containerBorder">
            <p>@Model.Phone</p>
        </div>
    </div>


    <div class="row">
        <div class="col containerBorder">
            <b>Email :</b>
        </div>
        <div class="col containerBorder">
            <p>@Model.Email</p>
        </div>
    </div>


    <div class="row">
        <div class="col containerBorder">
            <b>Check In Date :</b>
        </div>
        <div class="col containerBorder">
            <p>@Model.CheckIn</p>
        </div>
    </div>

    <div class="row">
        <div class="col containerBorder">
            <b>Total Persons :</b>
        </div>
        <div class="col containerBorder">
            <p>@Model.TotalPersons</p>
        </div>
    </div>

    <div class="row">
        <div class="col containerBorder">
            <b>Booking Days :</b>
        </div>
        <div class="col containerBorder">
            <p>@Model.BookingDays</p>
        </div>
    </div>

    <div class="row">
        <div class="col containerBorder">
            <b>Advance :</b>
        </div>
        <div class="col containerBorder">
            <p>@Model.Advance</p>
        </div>
    </div>

   