@model List<ApplicationCore.Models.BookingResponseModel>

@{ ViewData["Title"] = "Booking"; }

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Room Number</th>
                <th>Customer Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var booking in Model)
            {
                <tr>
                    <td> @booking.Id </td>
                    <td> @booking.RoomNO</td>
                    <td> @booking.CName</td>
                    <td> 
                        <a asp-controller="Booking" asp-action="Book" asp-route-Id="@booking.Id"> 
                            <button class="actionBtn"> Edit </button> 
                        </a> 
                        <partial name="_DeleteAlert" model="@booking"/>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

<a asp-controller="Booking" asp-action="Book" asp-route-Id=-1>
    <button class="btn addBtn">Add a New Booking</button>
</a>