@model List<ApplicationCore.Models.RoomResponseModel>

@{ ViewData["Title"] = "Room"; }

<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>Room ID</th>
                <th>Room Type</th>
                <th>Available Status</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var room in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Room" asp-action="Details" asp-route-Id="@room.Id"><b><u>@room.Id</u></b></a>
                    </td>
                    <td> @room.RT</td>
                    <td> @room.Status</td>
                    <td>
                        <a asp-controller="Room" asp-action="Change" asp-route-Id="@room.Id">
                            <button class="actionBtn"> Edit </button>
                        </a>
                        <partial name="_DeleteAlert" model='new { Id = room.Id, CtrName = "Room"}' />
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

<a asp-controller="Room" asp-action="Change" asp-route-Id=-1>
    <button class="btn addBtn">Add a New Room</button>
</a>